@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

html,
body{
	height: 100%;
	margin: 0;
}

body {
    color:#fff;
    overflow: hidden;
}

.no-csstransforms3d .nav-menu-pusher,
.no-js .nav-menu-pusher {
	padding-left: 300px;
}

.nav-menu-container,
.nav-menu-pusher,
.nav-menu-content,
.nav-menu-content-inner {
    height: 100%;
    width: 100%;
}

.nav-menu-content {
	overflow-y: auto;
	background: #f3efe0;
}

.nav-menu-content,
.nav-menu-content-inner {
	position: relative;
}

.nav-menu-container {
	position: relative;
	overflow: hidden;
}

.nav-menu-pusher {
	position: fixed;
	left: 0;
	z-index: 99;
	height: 100%;
	perspective: 1000px;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.nav-menu-menu-open .nav-menu-pusher::after {
	width: 100%;
	height: 100%;
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.nav-menu-menu {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	visibility: hidden;
	width: 300px;
	height: 100%;
	background: #004b63;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.nav-menu-menu::after {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.2);
	content: '';
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.nav-menu-menu-open .nav-menu-menu::after {
	width: 0;
	height: 0;
	opacity: 0;
	-webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
	transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

.nav-menu-effect.nav-menu-container {
	-webkit-perspective: 1500px;
	perspective: 1500px;
}

.nav-menu-effect .nav-menu-pusher {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.nav-menu-effect.nav-menu-menu-open .nav-menu-pusher {
	-webkit-transform: translate3d(0, 0, -300px);
	transform: translate3d(0, 0, -300px);
}

.nav-menu-effect.nav-menu-menu {
	opacity: 1;
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
}

.nav-menu-effect.nav-menu-menu-open .nav-menu-effect.nav-menu-menu {
	visibility: visible;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.nav-menu-effect.nav-menu-menu::after {
	display: none;
}

.nav-menu-menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.nav-menu-menu li {
	cursor: pointer;
	border-top: 1px solid #295685;
	padding: .4em .4em .4em .4em;
} 

.nav-menu-menu li:last-child {
	border-bottom: 1px solid #295685;
}

.nav-menu-menu li:hover {
	background-color: #295685;
}

.nav-menu-menu a {
	display: block;
	outline: none;
	overflow: hidden;
	font-size: 1.2em;
	line-height: 1em;
	padding: .2em .2em;
	text-decoration: none;
	color: #ffdb58;
	font-family: 'Quicksand', sans-serif;
}

.nav-menu-menu a:hover {
	color: #ffbf00;
}

.nav-menu-menu h2 {
	font-size: 1.5em;
	line-height: 1em;
	font-weight: bold;
	color: #ffffff;
	padding: 0 .4em 0 .4em;
	font-family: 'Quicksand', sans-serif;
	text-align: center;
}
